@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

@font-face {
  font-family: "LeferiPoint";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff")
    format("woff");
}

@font-face {
  font-family: "LeferiBase";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-RegularA.woff")
    format("woff");
}

@font-face {
  font-family: "years";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/KCC-Kimhwanki.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "LeferiBase", "Noto Sans KR", "Malgun Gothic", "맑은 고딕",
    "돋움", "굴림", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.25px;
  color: #000;
  font-size: 16px;
  word-wrap: break-word;
  overflow-x: hidden;

  background: linear-gradient(-45deg, #681212, #94043b, #064b64, #047258);
  background-size: 400% 400%;
  animation: AnimationName 10s ease infinite;
  width: 100%;
}

/* 공통요소 */
.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}

.wrap {
  position: relative;

  display: block;
}

body::-webkit-scrollbar {
  width: 9px;
}

body::-webkit-scrollbar-thumb {
  height: 20%;
  background: #8f8f8f;
}

body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1.2px;
  padding: 90px 0 5px 0;
}

/* header */
.header {
  position: fixed;
  right: 20px;
  top: 40%;
  transform: translateY(-50%);
  z-index: 999;
  text-align: right;
}

.gnb {
  position: relative;
}

.gnb > li {
  position: relative;
  white-space: nowrap;
  font-size: 0;
  margin: 0px 10px;
}

.gnb > li > a {
  position: relative;
  line-height: 70px;
  padding: 10px;
  padding-right: 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  color: rgb(192, 192, 192);
  z-index: 2;
}

.gnb > li > a:hover::before {
  background-color: rgba(0, 0, 0, 1);
}

.gnb > li > a::before {
  content: "";
  position: absolute;
  left: -6px;
  top: 45%;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.3s;
  z-index: 1;
}

.gnb > li > a::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 60%;
  transform: translateY(-50%);
  width: 0%;
  transition: all 0.6s;
}

.gnb > li > a:hover {
  color: #555;
  font-weight: bold;
}

.menu-focus {
  color: #555 !important;
  font-weight: bold !important;
}

.menu-focus::after {
  content: "";

  width: 95% !important;
  background-color: rgba(255, 249, 160, 0.904);
  height: 50%;
  z-index: -1;
}

@media screen and (max-width: 1600px) {
  .header {
    display: none;
  }
}

/* visual */
.visual {
  position: relative;
  display: block;
  padding-bottom: 12.5%;
  color: #fff;
  text-align: center;
  z-index: 9999;

  background: linear-gradient(-45deg, #681212, #94043b, #064b64, #047258);
  background-size: 400% 400%;
  animation: AnimationName 10s ease infinite;
  width: 100%;
}

.logomi {
  display: block;
  width: 50px;
  margin: 0 auto;
  padding-top: 1.5%;
}

.maintitle-top {
  display: block;
  min-width: 850px;
  max-width: 49%;
  position: absolute;
  top: 7%;
  left: 2.5%;
  font-size: 68px;
  text-align: left;
  letter-spacing: -1.7px;
  font-weight: 500;
  line-height: 85px;
  z-index: 9;
}

.maintitle-top span {
  width: 100%;
  float: left;
  color: #fff;

  transform: translateY(-50px);
  opacity: 0;
  animation-name: titleAnimation;
  animation-timing-function: ease;
  animation-duration: 1s;
}

.maintitle-top span {
  /* animation-delay: 0.6s; */
  -webkit-animation-fill-mode: forwards;
}

.maintitle-top span:first-child {
  animation-delay: 0.4s;
}

.maintitle-top span:nth-child(2) {
  animation-delay: 0.8s;
}

.maintitle-bot {
  display: block;
  min-width: 850px;
  max-width: 49%;
  position: absolute;
  bottom: 5.8%;
  right: 2.5%;
  font-size: 68px;
  text-align: right;
  letter-spacing: -1.7px;
  line-height: 85px;
  font-weight: bold;
  font-family: "LeferiPoint";
  z-index: 9;
}

.maintitle-bot span {
  font-family: "Leferibase";
}

@keyframes titleAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 00%);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%);
  }
}
.imgbox {
  position: relative;
  margin: 9% auto 0 auto;
  /* width: 1450px; */
  width: 79vw;
  height: 900px;
}
.vs-img {
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/vs_1.jpg") no-repeat center;
  background-size: cover;

  transition: opacity 0.2s;
}
.vs-img-2 {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;

  background: url("../images/vs_3.jpg") no-repeat center;
  background-size: cover;

  transition: opacity 0.2s;
}
.vs-img-3 {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;

  background: url("../images/vs_2.jpg") no-repeat center;
  background-size: cover;

  transition: opacity 0.2s;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-o-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 1774px) {
  .maintitle-top,
  .maintitle-bot {
    font-size: 62px;
    line-height: 74px;
  }
  .imgbox {
    height: 85vh;
    width: 85vw;
  }
}
@media screen and (max-width: 1260px) {
  .maintitle-top,
  .maintitle-bot {
    font-size: 55px;
    min-width: 60%;
  }
  .imgbox {
    height: 80vh;
  }
}
@media screen and (max-width: 1124px) {
  .maintitle-top,
  .maintitle-bot {
    font-size: 48px;
    min-width: 55%;
    line-height: 60px;
  }
}
@media screen and (max-width: 1060px) {
  .maintitle-top,
  .maintitle-bot {
    font-size: 41px;
    min-width: 50%;
    line-height: 55px;
  }
}
@media screen and (max-width: 1024px) {
  .visual {
    height: 100vh;
  }
  .imgbox {
    margin: 6vh auto 0 auto;
  }
  .maintitle-top,
  .maintitle-bot {
    line-height: 50px;
  }
  .maintitle-top {
    top: 8vh;
  }
  .maintitle-bot {
    bottom: 3vh;
  }
}
@media screen and (max-width: 985px) {
  .maintitle-top,
  .maintitle-bot {
    min-width: 59%;
  }
  .logomi {
    width: 45px;
  }
}
@media screen and (max-width: 835px) {
  .maintitle-top,
  .maintitle-bot {
    font-size: 37px;
    min-width: 60%;
    line-height: 45px;
  }
  .imgbox {
    height: 75vh;
    margin-top: 8vh;
  }
}
@media screen and (max-width: 735px) {
  .maintitle-top,
  .maintitle-bot {
    font-size: 33px;
    min-width: 60%;
    line-height: 40px;
  }
}
@media screen and (max-width: 648px) {
  .maintitle-top,
  .maintitle-bot {
    font-size: 28px;
    min-width: 55%;
    line-height: 40px;
  }
  .logomi {
    width: 43px;
    padding-top: 2%;
  }
}
@media screen and (max-width: 588px) {
  .maintitle-top,
  .maintitle-bot {
    font-size: 28px;
    min-width: 64%;
    line-height: 35px;
  }
}
@media screen and (max-width: 507px) {
  .maintitle-top,
  .maintitle-bot {
    min-width: 70%;
  }
}

@media screen and (max-width: 498px) {
  .maintitle-top,
  .maintitle-bot {
    font-size: 25px;
    min-width: 65%;
    line-height: 32px;
  }
  .logomi {
    width: 40px;
    padding-top: 2%;
  }
}
@media screen and (max-width: 430px) {
  .maintitle-top,
  .maintitle-bot {
    font-size: 22px;
    min-width: 60%;
    line-height: 28px;
  }
}
@media screen and (max-width: 401px) {
  .maintitle-top,
  .maintitle-bot {
    min-width: 71%;
  }
}
@media screen and (max-width: 339px) {
  .maintitle-top,
  .maintitle-bot {
    font-size: 20px;
    min-width: 65%;
  }
}

/* porfile */
.profile {
  position: relative;
  display: block;
  padding-top: 6vw;
  background-color: #fff;
}

.profile .inner {
  width: 1100px;
}

.profile h2 {
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  top: 70px;
  left: -100px;
  transform: rotate(-90deg);
}

.subtitle {
  display: block;
  text-align: center;
  font-size: 12px;
  letter-spacing: 4px;
  margin-bottom: 50px;
}
.introduce {
  position: relative;
  display: block;
  white-space: nowrap;
}
.introduce > img {
  float: left;
  max-width: 300px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

.introduce-txt {
  float: right;
}

.introduce-txt p {
  margin-bottom: 4.5vh;
  line-height: 1.8;
  white-space: nowrap;
}

.introduce-txt ul {
  position: relative;
  display: block;
}

.introduce-txt ul li {
  position: relative;
  text-transform: uppercase;
  margin: 10px 0;
}

.introduce-txt ul li span {
  display: block;
  width: 150px;
  font-weight: 600;
  margin: 21px 0 5px 0;
}

.introduce-bottom {
  position: relative;
  display: block;
  height: 26vw;
  margin-top: 175px;
}

.introduce-bottom::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 100px;
  min-width: 1920px;
  width: 100vw;
  height: 300px;
  border-radius: 0 150px 150px 0;
  background-color: #f8f8f8;
  box-shadow: 5px 5px 15px rgb(140, 140, 140, 0.2);
  z-index: 1;
}

.char-info {
  position: relative;
  display: block;
  padding-top: 6px;
  z-index: 2;
}

.char-info li {
  position: relative;
  display: block;
  float: left;
  width: 23%;
  margin-right: 15px;
}

.char-info li:nth-child(1) {
  position: relative;
  display: block;
  background: url("../images/icon2.png") no-repeat center 16%;
  background-size: 48%;
}

.char-info li:nth-child(2) {
  position: relative;
  display: block;
  background: url("../images/icon1.png") no-repeat center 18%;
  background-size: 47%;
}

.char-info li:nth-child(3) {
  position: relative;
  display: block;
  background: url("../images/icon3.png") no-repeat center 18%;
  background-size: 49%;
}

.char-info li p {
  position: relative;
  display: block;
  text-align: center;
  padding-top: 160px;
  margin-bottom: 10px;
  font-size: 15px;
}

.char-info li p span {
  position: relative;
  display: block;
  text-align: center;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 500;
}

.chart {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;

  z-index: 3;
}

.polygon {
  position: absolute;
  right: -10%;
  top: -70px;
  display: block;
  width: 100%;
  height: 100%;
}

.polygon li {
  width: 435px;
  height: 391px;
  position: absolute;
  right: 0;
  top: 0;
}

.polygon-base {
  background: url("../images/polygon.png") no-repeat center;
  background-size: cover;
}

.polygon-color {
  background: url("../images/polygon-c.png") no-repeat center;
  background-size: 0%;
}

.polygon-color-draw {
  animation-name: polygon;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  background-size: 100%;
}

@keyframes polygon {
  0% {
    background-size: 0%;
  }

  85% {
    background-size: 100%;
  }

  93% {
    background-size: 98%;
  }

  100% {
  }
}

@media screen and (max-width: 1360px) {
  .profile .inner {
    width: 81vw;
  }
  .introduce-bottom {
    margin-top: 13.6vw;
  }
}
@media screen and (max-width: 1243px) {
  .profile .inner {
    width: 81vw;
  }
  .introduce img {
    width: 24vw;
  }

  .introduce-txt {
    font-size: 1.28vw;
  }

  .introduce-bottom::after {
    height: 23.08vw;
  }

  .char-info li p {
    padding-top: 12.31vw;
  }

  .char-info li p span {
    font-size: 1.34vw;
  }
  .char-info li p {
    font-size: 1.22vw;
  }

  .polygon {
    right: -7.5vw;
  }
  .polygon li {
    width: 33.46vw;
    height: 30.08vw;
  }
}

@media screen and (max-width: 1080px) {
  .introduce-txt p {
    margin-bottom: 3vw;
  }
  .introduce-txt ul li span {
    margin: 1.3vw 0 5px 0;
  }
  .title {
    font-size: 2.8vw !important;
  }
  .profile h2 {
    font-size: 2.8vw;
    left: -11%;
  }
}
@media screen and (max-width: 1000px) {
  .introduce-txt {
    font-size: 13px;
    width: calc(100% - 270px);
  }
  .introduce img {
    width: 240px;
  }

  .introduce-bottom {
    margin-top: 9vw;
    height: 300px;
  }

  .char-info {
    top: 48%;
    transform: translateY(-50%);
  }
  .char-info li {
    float: none;
    width: 58%;
    height: 60px;
    background-size: 9vw !important;
    margin: 20px 0;
  }
  .char-info li:nth-child(1) {
    background-position: left 70% !important;
  }
  .char-info li:nth-child(2) {
    background-position: left 80% !important;
  }
  .char-info li:nth-child(3) {
    background-position: left 75% !important;
  }
  .char-info li p {
    text-align: left;
    padding: 0;
    padding-left: 10vw;
  }
  .char-info li p br {
    display: none;
  }
  .char-info li p span {
    text-align: left;
  }
  .introduce-bottom::after {
    height: 100%;
  }

  .char-info li p span {
    font-size: 13px;
    margin-bottom: 0;
  }
  .char-info li p {
    font-size: 12px;
  }

  .polygon {
    top: -4vw;
    right: -7vw;
  }
  .polygon li {
    width: 38.94vw;
    height: 35.01vw;
  }
}
@media screen and (max-width: 930px) {
  .introduce img {
    /* width: 220px; */
  }
  .introduce-txt ul {
    width: 55vw;
  }
  .introduce-txt p {
    white-space: normal;
    width: 55vw;
  }
  .introduce-txt > p > br {
    display: none;
  }
  .title {
    font-size: 24px !important;
  }
  .profile h2 {
    font-size: 24px;
    left: -74px;
  }
}
@media screen and (max-width: 800px) {
  .introduce-txt p {
    white-space: normal;
    width: 50vw;
  }
  .introduce-txt ul {
    width: 50vw;
  }
  .introduce-txt > p > br {
    display: none;
  }
  .introduce-txt ul li small {
    display: none;
  }

  .polygon {
    top: -0.5vw;
    right: -7vw;
  }
  .polygon li {
    width: 38.94vw;
    height: 35.01vw;
  }
}
@media screen and (max-width: 730px) {
  .introduce-txt p {
    white-space: normal;
    width: 45vw;
  }
  .introduce-txt ul {
    width: 45vw;
  }
  .polygon {
    top: 2vw;
    right: -8vw;
  }
  .polygon li {
    width: 284px;
    height: 255px;
  }
}
@media screen and (max-width: 728px) {
  .introduce img {
    width: 255px;
  }
}

@media screen and (max-width: 650px) {
  .introduce img {
    float: none;
    z-index: 10;
  }

  .introduce-txt {
    float: none;
    width: 100%;
    margin-top: 7vw;
  }
  .introduce-txt p {
    width: 100%;
  }

  .polygon {
    top: 3vw;
    right: -88%;
    transform: translateX(-100%);
  }
  .polygon li {
    width: 61vw;
    height: 53vw;
  }

  .introduce-bottom {
    margin-top: 63vw;
  }
  .char-info li {
    width: 83vw;
    background-size: 16% !important;
  }
  .char-info li p {
    padding-left: 16vw;
  }
  .introduce-bottom::after {
    right: -50%;
  }
}

@media screen and (max-width: 500px) {
  .polygon {
    left: 76vw;
  }
  .polygon li {
    width: 305px;
    height: 265px;
  }
  .introduce-bottom {
    margin-top: 320px;
  }
  .char-info li {
    background-size: 15vw !important;
  }
}
@media screen and (max-width: 400px) {
  .polygon {
    left: 300px;
  }
}

/* skill */
.skill {
  position: relative;
  display: block;
  background-color: #fff;
}

.skill .inner {
  position: relative;
  height: 700px;
}

.skill h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}

.mySwiper {
  /* margin-top: 30px; */
  width: 82vw;
  height: 58%;
}

.mySwiper .swiper-wrapper {
  align-content: space-around;
  justify-content: space-around;
}

.progressbar-text {
  top: 54% !important;
}

.mySwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: block;
  height: 150px !important;
  width: 150px !important;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000 !important;
}

.swiper-button-prev {
  left: 0px;
}

.swiper-button-next {
  right: 0px;
}

@media screen and (max-width: 1200px) {
  .skill h2 {
    padding: 7vw 0 1vw 0;
  }
  .skill .inner {
    height: 60vw;
  }
  .mySwiper .swiper-slide {
    height: 12vw !important;
    width: 12vw !important;
  }
  .mySwiper {
    height: 35vw;
  }
  .progressbar-text {
    font-size: 2vw !important;
  }
}
@media screen and (max-width: 1000px) {
  .mySwiper .swiper-slide {
    height: 120px !important;
    width: 120px !important;
  }
}
@media screen and (max-width: 800px) {
  .skill h2 {
    padding: 8vw 0 2vw 0;
  }
  .mySwiper {
    height: 36vw;
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: 54%;
  }
  .mySwiper .swiper-slide {
    height: 15vw !important;
    width: 15vw !important;
  }
  .progressbar-text {
    font-size: 13px !important;
  }
}

@media screen and (max-width: 650px) {
  .skill .inner {
    height: 57vw;
  }
  .mySwiper {
    height: 30vw;
    width: 79.5vw;
  }
  .mySwiper .swiper-slide {
    height: auto !important;
    width: 18.1vw !important;
    margin-left: 1.7vw !important;
  }

  .mySwiper .swiper-wrapper {
    justify-content: flex-start;
    align-items: center;
  }
}
@media screen and (max-width: 550px) {
  .progressbar-text {
    font-size: 12px !important;
  }
}
@media screen and (max-width: 460px) {
  .mySwiper .swiper-slide {
    width: 23vw !important;
  }
  .mySwiper .swiper-slide {
    margin-left: 2.7vw !important;
  }
  .mySwiper {
    width: 77.5vw;
  }
}

/* portfolio */
.portfolio {
  position: relative;
  display: block;
  background-color: #f3f2f3;
  padding-bottom: 120px;
}

.pf-main {
  position: relative;
  float: left;
  width: 520px;
  height: 720px;
}

.sw-pf {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.sw-pf-img {
  width: 520px;
  height: 560px;
  border-radius: 10px;
}

.shadow {
  position: absolute;
  width: 520px;
  height: 560px;
  border-radius: 10px;
  box-shadow: 7px 7px 10px rgba(41, 41, 41, 0.07);
}

.sw-pf-imgwrap {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.sw-pf-imgwrap img {
  position: absolute;
  width: 100%;
  left: 50%;
  bottom: 100%;
  transform: translate(-50%, 100%);
  transition: all 3s;
  transition-delay: 0.3s;
}

.sw-pf-imgwrap:hover img {
  bottom: 0;
  transform: translate(-50%, 0%);
  filter: brightness(1);
}
.imgwrap-fix:hover img {
  bottom: 100%;
  transform: translate(-50%, 100%);
}

.pf-txtbox {
  position: absolute;
  top: 580px;
  display: block;
  width: 100%;
  /* background-color: #fff;   */
  z-index: 9999;
}

.pf-name {
  font-size: 19px;
  vertical-align: top;
}

.pf-txtbox .material-symbols-outlined {
  font-size: 20px;
}

.pf-a {
  display: inline-block;
  vertical-align: bottom;
  padding: 7px 15px 3px;
  border-radius: 7px;
  background-color: #d8d8d8;
  margin: 0 1px;
  transition: all 0.3s;
}

.pf-a:hover {
  background-color: #f8e89f;
}

.vue-a:hover {
  background-color: #8edbbe !important;
}

.pf-vuetag {
  display: inline-block;
  font-size: 15px;
  margin-top: 10px;
}

.pf-listbox {
  float: right;
  height: 100%;
  width: 655px;
  overflow: hidden;
}

.pf-list {
  display: flex;
  height: 560px;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.pf-list > li {
  position: relative;
  width: 215px;
  height: 136px;
}

.pf-list > li > a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.pf-list > li > a i {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.pf-list > li > a:hover i {
  border: 1px solid #e0e0e0;
}

.pf-list > li > a i img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s;
}

.pf-list > li > a:hover i img {
  transform: translate(-50%, -50%) scale(1.03);
  filter: brightness(1);
}

.pf-list > li > a p {
  position: relative;
  width: 100%;
  font-size: 20px;
  line-height: 1.2;
  color: #1a1a1d;
  font-weight: 500;
  padding-top: 5px;
}

.pf-list > li > a p small {
  font-size: 15px;
  color: #1a1a1d;
}

.pf-list > li > a p span {
  vertical-align: text-bottom;
}

.pf-link {
  position: absolute;
  bottom: 30px;
  left: 300px;
}

.pf-link li {
  display: inline-block;
  color: #77777e;
  font-size: 16px;
  margin-right: 30px;
}

.pf-link a:hover {
  color: #f1adff;
}

.pf-listbox-focus p {
  color: #86d5d6 !important;
}

.pf-listbox-focus p small {
  color: #aad4d4 !important;
}

.pf-listbox-focus i {
  background-color: #ddd !important;
}

.pf-listbox-focus i img {
  opacity: 0.5 !important;
  /* display: none; */
}

@media screen and (max-width: 1320px) {
}
@media screen and (max-width: 1260px) {
  .portfolio .inner {
    width: 97%;
    /* margin-left: 2%; */
    padding-left: 1.1%;
  }

  .pf-main,
  .shadow,
  .pf-list {
    height: 44.44vw;
  }
  .pf-list > li {
    width: 17.06vw;
    height: 10.79vw;
  }
  .pf-listbox {
    width: 51.98vw;
  }
  .sw-pf-img,
  .pf-main,
  .shadow {
    width: 41.27vw;
  }

  .pf-main,
  .shadow {
    width: 40.8vw;
  }

  .pf-list > li > a i img {
    width: 17.97vw;
    height: 11.33vw;
  }

  .sw-pf-imgwrap:hover img {
    bottom: 0;
    transform: translate(-50%, 0);
    filter: brightness(1);
  }
  .imgwrap-fix:hover img {
    bottom: 100%;
    transform: translate(-50%, 100%);
  }
}

@media screen and (max-width: 1200px) {
  .portfolio .title {
    padding: 7vw 0 1vw 0 !important;
  }
}

/* life */
.life {
  position: relative;
  display: block;
  padding: 100px 0;
  background-color: #fff;
}

.life .inner {
  position: relative;
  display: block;
  height: 100%;
}

.life-title {
  position: relative;
  float: left;
  line-height: 600px;
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1.2px;
}

.life-content {
  float: right;
  width: 900px;
  height: 600px;
}

.li-left {
  float: left;
  width: 66.5%;
  height: 100%;
  margin-right: 1%;
}

.lifebox {
  position: relative;
  display: block;
}

.lifebox span {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;

  transition: all 0.5s;
}

.lifebox p {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #fff;
  font-size: 14px;
  visibility: hidden;
}

.lb-1 {
  width: 100%;
  height: 49%;
  background: url("../images/life1.png") no-repeat center;
}

.lb-2 {
  float: left;
  width: 49%;
  height: 49%;
  margin-top: 2%;
  background: url("../images/bike.jpg") no-repeat center;
  background-size: cover;
}

.lb-3 {
  float: left;
  width: 49%;
  height: 49%;
  margin-top: 2%;
  margin-left: 2%;
  background: url("../images/life3.png") no-repeat center;
}

.lb-4 {
  float: right;
  width: 32%;
  height: 100%;
  background: url("../images/life4.png") no-repeat center;
}

.lifebox:hover p {
  visibility: visible;
}

.lifebox:hover span {
  background-color: rgba(0, 0, 0, 0.6);
}

.sw-life .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* vision */
.vision {
  background-color: #f3f2f3;
  padding-bottom: 100px;
}

.vision .title {
  float: left;
  display: block;
}

.road {
  position: relative;
  padding-top: 105px;
}

.line {
  left: 0;
  display: block;
  height: 2px;
  width: 50px;
  background: linear-gradient(
    90deg,
    rgba(33, 33, 33, 1) 0%,
    rgba(33, 33, 33, 1) 80%,
    rgba(255, 255, 255, 0) 100%
  );
  margin-left: 150px;

  width: 0vw;
  transition: width 2.5s;
}

.line-draw {
  width: 77vw;
}

.later {
  cursor: pointer;
  display: inline-block;
  font-family: "years";
  font-size: 22px;
  opacity: 0;
  transition: opacity 0.7s;
}

.later strong {
  font-size: 35px;
  margin-right: -5px;
}

.later-1 {
  position: absolute;
  left: 20%;
}

.later-3 {
  position: absolute;
  left: 50%;
}

.later-5 {
  position: absolute;
  left: 80%;
}

.later-1::after {
  content: "🚶🏻‍♀️";
}
.later-3::after {
  content: "🏃🏻‍♀️";
}
.later-5::after {
  content: "🤸🏻‍♀️";
}
.later::after {
  transform: rotateY(180deg);
  position: absolute;
  top: -30px;
  left: 40px;
  display: block;
  font-size: 20px;
  color: #ff3773;
}

.vision-bottom {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 70px;
  margin-left: 150px;
}

.vision-box {
  vertical-align: top;
  display: inline-block;
  width: 25%;
  /* height: 200px; */
  line-height: 27px;
  /* border: 1px solid #fff; */
  background-color: rgba(255, 255, 255, 0.432);
  border-radius: 20px;
  margin-right: 4.5%;
  padding: 30px;
  visibility: hidden;
}

.bigEntrance {
  animation-name: bigEntrance;
  -webkit-animation-name: bigEntrance;

  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;

  visibility: visible !important;
}

@keyframes bigEntrance {
  0% {
    transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
    opacity: 0.2;
  }
  30% {
    transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
    opacity: 1;
  }
  45% {
    transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  60% {
    transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  75% {
    transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  90% {
    transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
}

/* contact */
.contact {
  padding: 60px 0 40px 0;
  text-align: center;
}

.contact-title {
  display: block;
  color: #fff;
  font-size: 25px;
  margin-bottom: 20px;
}

.contact-list {
  display: inline-block;
  text-align: center;
}

.contact-list li {
  position: relative;
  float: left;
  margin: 0 15px;
}

.contact-list li a {
  display: block;
  width: 45px;
  height: 45px;
  border: 1px outset #fff;
  border-radius: 50%;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.2);
  transition: all 0.2s;
}

.contact-list li i {
  position: absolute;
  top: 48%;
  left: 51%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #fff;
  transition: all 0.2s;
}

.contact-list li a:hover i {
  color: #000;
}

.contact-list li a:hover {
  border: 1px solid #fff;
  background-color: #fff;
}

/* footer */
.footer {
  color: #ddd;
  text-align: center;
  padding-bottom: 10px;
}

.copy {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
